@import url("https://fonts.googleapis.com/css?family=Monda");

@font-face {
  font-family: 'TrimBold';
  src: url(fonts/TrimBold.ttf);
}

:root {
  --primary-light: #FFA800;
  --secondary-light: #EB4616;
  --primary-dark: #21B65D;
  --secondary-dark: #304C82;
}

body {
  font-family: "Monda";
}

.temp {
  font-family: "TrimBold";
  margin-bottom: 0px;
}

.wrapper {
  background: linear-gradient(to bottom, var(--primary-light), var(--secondary-light));
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0px 18px;
}

.title-container {
  padding: 24px 24px;
  background-color: #FFFFFF;
}

.weather-container {
  padding: 24px 24px;
  background-color: #2C3E50;
  /* display: flex;
  align-items: center !important; */
  display: inline-block;
  text-align: left;
}

.title-container__title {
  font-family: "TrimBold";
  color: var(--secondary-light);
  text-transform: uppercase;
}

.weather__key {
  color: #FFFFFF;
}

.weather__value {
  color: var(--primary-light);
  text-transform: capitalize;
}
.error-container {
  text-align: center;
  margin: 15px 0px;
}

.weather__error {
  color: var(--primary-light);
  margin: 0px;
}

.fas {
  color: var(--primary-light);
  font-size: 10rem;
  margin-bottom: 24px;
}
