@import url("https://fonts.googleapis.com/css?family=Monda");

@font-face {
  font-family: 'TrimBold';
  src: url(fonts/TrimBold.ttf);
}

body {
  font-family: "Monda";
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: "TrimBold";
}

.wrapper {
  background: linear-gradient(to bottom, #FFDD00, #EB4616);
  width: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  padding: 0px 18px;
}

.title-container {
  padding: 24px 24px;
  background-color: #FFFFFF;
}

.form-container {
  padding: 24px 24px;
  background-color: #2C3E50;
  align-items: center;
  text-align: right;
}

.title-container__title {
  font-family: "TrimBold";
  color: #EB4616;
  text-transform: uppercase;
}

.weather__info {}

.weather__key {
  color: #FFFFFF;
}

.weather__value {
  color: #FFDD00;
  text-transform: capitalize;
}

.weather__error {
  color: #FFDD00;
  margin-bottom: 0px;
}
